<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%), url('http://kitt.lewagon.com/placeholder/cities/paris');">
  <div class="banner-content">
    <h2>Welcome home</h2>
    <p>Book unique homes and experience a city like a local.</p>
    <div class="container">
      <div class="row">
          <form class="form-inline" action="#">
                <div class="form-group">
                  <input type="text" id="where" placeholder="Where?" class="form-control input-lg">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-lg" id="when" placeholder="When?">
                </div>
                <div class="form-group">
                  <select id="source" class="form-control input-lg">
                    <option value="facebook">1 guest</option>
                    <option value="google_search">2 guest</option>
                    <option value="a_friend">3 guest</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-lg" value="Search">
                </div>
          </form>

      </div>
    </div>
  </div>
</div>
