<div class="col-xs-12 col-sm-4">
  <div class="card">
    <div class ="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/paris');">
      <div class="card-category">PARICE, FRANCE</div>
      <img class="card-user img-circle" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
      <div class="card-desc">
        <h3>Sebastian's home</h3>
        <p>Charming room in Montmarte</p>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-4">
  <div class="card">
    <div class ="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/tokyo');">
      <div class="card-category">TOKYO, JAPAN</div>
      <img class="card-user img-circle" src="https://kitt.lewagon.com/placeholder/users/papillard">
      <div class="card-desc">
        <h3>Boris' home</h3>
        <p>Small flat in Tokyo</p>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-4">
  <div class="card">
    <div class ="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/london');">
      <div class="card-category">LONDON, UK</div>
      <img class="card-user img-circle" src="https://kitt.lewagon.com/placeholder/users/monsieurpaillard">
      <div class="card-desc">
        <h3>Romain's home</h3>
        <p>Nice flat in Picidilly</p>
      </div>
    </div>
  </div>
</div>



