<div class="col-xs-12 col-sm-4">
  <div class="card">
    <div class ="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/shanghai.jpg');">
      <div class="card-category">SHANGHAI</div>
      <img class="card-user img-circle" src="images/jad.png">
      <div class="card-desc">
        <h3>Jad's home</h3>
        <p>Charming room in Shanghai</p>
      </div>
    </div>
  </div>
</div>


