---
title: Le Wagon - Middleman
---

<%= partial "layouts/banner" %>
<div class="card-container">
  <h2> Recent flats </h2>
    <div class="container">
      <div class="row">
      <% 3.times do  %>
        <%= partial "layouts/card" %>
      <% end %>
    </div>
  </div>
</div>
